%h1= 'Editing Info Snippet'

= form_for @info, url: info_snippet_path(@info) do |i|
  .error-explanation
    - if @info.errors.any?
      %h2= 'Please fix the following errors:'
      %ul
        - @info.errors.full_messages.each do |msg|
          %li= msg
  .input-content
    %ul.no-style
      %li
        = 'Subject'
        .input-field= i.text_field :subject
      %li
        = 'Snippet'
        .input-field= i.text_area :text, label: false
      %li
        = 'Date'
        .input-field= i.date_select :event_date, :include_blank => true

    .submit-button
      = i.submit 'Update Snippet'
