%h1= 'Editing Info Snippet'

= form_for @info, url: info_snippet_path(@info) do |i|
  .error-explanation
    - if @info.errors.any?
      %h2= 'Please fix the following errors:'
      %ul
        - @info.errors.full_messages.each do |msg|
          %li= msg
  .input-content
    = i.text_area :text, label: false
    .submit-button
      = i.submit

= link_to 'Back', info_snippets_path
