<div id="log-in-container" style="width:700px">

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <a href="#" data-dismiss="alert" class="close">×</a>
        <ul>
          <li>
            <%= value %>
          </li>
        </ul>
    </div>
  <% end %>

  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field-label"><%= f.label :email %>
    <%= f.email_field :email, autofocus: true %></div>

    <div class="field-label"><%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %></div>

    <% if devise_mapping.rememberable? -%>
      <div class="field-label"><%= f.check_box :remember_me %> Remember Me? </div>
    <% end -%>

    <div><%= f.submit "Log in" %></div>
  <% end %>

  <%= render "users/shared/links" %>
</div
