= render :partial => './haml_nav'

.container#edit-drug-container
  %h3= 'Edit Drug'

  .drug-form
    = form_for @drug, url: program_path(@drug) do |d|
      .error-explanation
        - if @drug.errors.any?
          %h2= 'Please fix the following errors:'
          %ul
            - @drug.errors.full_messages.each do |msg|
              %li= msg
      .input-content
        %ul.no-style
          - if @drug.companies[0].present?
            %li
              = "( Currently Company: #{@drug.companies[0].ticker} )"
          %li
            = 'Change Company'
            .input-field= d.select :company_ids, options_from_collection_for_select(@companies, 'id', 'ticker'), {include_blank: true }
          %li
            = 'Name:'
            .input-field= d.text_field :name
          %li
            = 'Description:'
            .input-field
              = d.text_area :description, label: false
          %li.tags-selection-container
            %h3= 'Tags'
            .tags-selection-container
              - for type in TagType.all
                .row
                  %h5= type.name
                  - for tag in type.tags
                    .tag
                      = check_box_tag "tags[]", tag.id, @drug.tags.include?(tag)
                      = tag.name

      .create-button
        = d.submit 'Update Drug'
