= render :partial => './haml_nav'

.container#edit-drug-container
  %h3= 'New Drug'

  .drug-form
    = form_for @drug, url: programs_path do |d|
      .error-explanation
        - if @drug.errors.any?
          %h2= 'Please fix the following errors:'
          %ul
            - @drug.errors.full_messages.each do |msg|
              %li= msg
      .input-content
        %ul.no-style
          %li
            = 'Company'
            .input-field= d.select :company_ids, options_from_collection_for_select(@companies, 'id', 'ticker'), {include_blank: true }
          %li
            = 'Name:'
            .input-field= d.text_field :name
          %li
            = 'Description:'
            .input-field
              = d.text_area :description, label: false
          %li
            = 'Tags'
            .input-field= d.text_field :tags
          %li
            = 'Snippets'
            .input-field= d.text_area :info_snippets
      .create-button
        = d.submit 'Create Drug'
