.container.span12{:'ng-controller' => 'company_controller'}
  .container#companies-list{:'ng-show' => '!one_company'}
    %h3= 'All Companies'
    %ul.no-style
      .li{:'ng-repeat' => 'c in companies'}
        %a{:'ng-click' => "select_company(c.id)"}
          .span{:'ng-show' => "c.ticker"}= "[ {{c.ticker}} ]"
          = "{{c.name}}"
  .container#company-description{:'ng-show' => 'one_company'}
    %a{:'ng-click' => 'select_all()'}= '<-- Back to All Companies'
    %h1= "{{one_company.name}} ({{one_company.ticker}})"
    .span3
      .row#company-financials
        %h3= 'Financials'
        %ul.no-style
          %li
            = "Price:"
            .financial="$ {{one_company.financials.price}}"
          %li
            = "52-week high:"
            .financial= "$ {{one_company.financials.f52high}}"
          %li
            = "52-week low:"
            .financial= "$ {{one_company.financials.f52low}}"
          %li
            = "Cash:"
            .financial= "$ {{one_company.financials.cash}}"
          %li
            = "Market Cap:"
            .financial= "{{one_company.financials.market_cap}}"
          %li
            = "Shares Out:"
            .financial= "{{one_company.financials.shares_out}}"
          %li
            = "3 Month Average Daily Volume:"
            .financial= "{{one_company.financials.three_month_volume}}"
          %li
            = "3 Month Average Daily $ Volume:"
            .financial= "$ {{one_company.financials.three_month_dollar_volume}}"
          %li
            = "Debt Due:"
            .financial="$ {{one_company.financials.debt_due}}"
          %li
            = "Burn:"
            .finacial= "{{one_company.financials.burn}}"
          %li
            = "Runway:"
            .financial="{{one_company.financials.runway}}"
      .row.edit-and-destroy
        %ul.no-style
          %li
            %a.edit{:'ng-click' => 'edit_company(one_company.id)'}= 'Edit Company Financials'
          %li
            %a.destroy{:'ng-click' => 'delete_company(one_company.id)', :'ng-confirm-click' => "Are you sure?"}= 'Delete Company'
    .span8#company-details
      .row#product-pipeline
        %h3= 'Drug Pipeline'
        %table{:'ng-repeat' => 'p in one_company.programs'}
          %tr.program-description
            %td.program-name
              %a{:'ng-click' => "select_program(p.id)"}= "{{p.name}}"
            %td="{{p.description}}"
          %tr.program-tags
            %td
            %td
              .tags-container
                .tag{:'ng-repeat' => 't in p.tags'}
                  %a{:'ng-click' => "select_tag(t.id)"}= "{{t.name}}"
      .row
        = button_to 'New Drug', new_program_path(company_id: "{{one_company.id}}"),method: :get

      .row#timeline
        %h3= 'Timeline'
        %table
          %tr.snippet{:'ng-repeat' => 's in one_company.timeline_snippets'}
            %td.date= "{{s.event_date}}"
            %td.catalyst
              %a{:'ng-click' => 'select_snippet(s.id)'}= "{{s.text}}"
      .row#diligence
        %h3= 'Diligence'
        %ul.no-style
          %li.info-snippet{:'ng-repeat' => 'i in one_company.diligence_snippets'}
            %a{:'ng-click' => "select_snippet(i.id)"}
              .subject{:'ng-show' => 'i.subject'}= "{{i.subject}}"
              = "{{i.text}}"
      .row#SEC
        %h3= 'SEC Filings'
        =simple_format "{{one_company.sec_filings}}"


