#nav{:'ng-controller' => 'nav_controller'}
  %a#company-nav{:'ng-click' => 'show_all_companies()'}= 'Companies'
  %a#program-nav{:'ng-click' => 'show_all_programs()'}= 'Drugs'
  %a#conversation-nav{:'ng-click' => 'show_all_conversations_and_tags()'}= 'Conversations'
  = link_to 'New Company', new_company_path
  = link_to 'New Program', new_program_path
