#programs-container{:'ng-controller' => 'programs_controller'}
  .row#programs-list{:'ng-show' => '!one_program'}
    %h3= 'Drugs'
    %ul.no-style
      %li.program{:'ng-repeat' => 'p in programs'}
        %a{:'ng-click' => "select_drug(p.id)"}= "{{p.name}}"
  .row#one-program{:'ng-show' => 'one_program'}
    .header
      %h3 {{one_program.name}}
      .preserve-style {{one_program.description}}
    .timeline-snippets
      %h3= 'Timeline'
      %table
        %tr.snippet{:'ng-repeat' => 's in one_program.timeline_snippets'}
          %td.date {{s.event_date}}
          %td.catalyst
            %a{:'ng-click' => 'select_snippet(s.id)'}= "{{s.text}}"
    .diligence-snippets
      %h3= 'Diligence'
      %ul.no-style
        %li.info-snippet{:'ng-repeat' => 's in one_program.diligence_snippets'}
          %a.preserve-style{:'ng-click' => "select_snippet(s.id)"}
            .subject{:'ng-show' => 's.subject'} {{s.subject}}
            .scrollable {{s.text}}
          .event-date{:'ng-show' => 's.event_date'}= "Date: {{s.event_date | date: 'MM/dd/yyyy'}}"
    .companies
      %h3= 'Companies'
      %ul.no-style
        %li.company{:'ng-repeat' => 'c in one_program.companies'}
          %a{:'ng-click' => 'select_company(c.id)'}="{{c.name}}"

    .edit-and-destroy
      %a.btn.edit{:'ng-click' => 'edit_drug(one_program.id)'}= 'Edit Drug'
      %a.btn.destroy{:'ng-click' => 'delete_drug(one_program.id)', :'ng-confirm-click' => "Are you sure?"}= 'Delete Drug'

    .back
      %a{:'ng-click' => 'select_all()'}= '<-- Back to All Drugs'
