#snippets-container{:'ng-controller' => 'snippets_controller'}
  .row#snippet
    %h3= 'Snippets'
    %ul.no-style
      %li.info-snippet{:'ng-repeat' => 'i in info_snippets'}
        %a{:'ng-click' => "select_snippet(i.id)"}
          .subject{:'ng-show' => 'i.subject'}= "{{i.subject}}"
          .preserve-style.scrollable{:'ng-show' => '!showing_one_snippet'} {{i.text}}
          .preserve-style{:'ng-show' => 'showing_one_snippet'} {{i.text}}
          .event-date{:'ng-show' => 'i.event_date'}= "Date: {{i.event_date | date: 'MM/dd/yyyy'}}"
  .row#one-snippet-extras{:'ng-show' => 'showing_one_snippet'}
    .companies
      %h3= 'Companies'
      .company{:'ng-repeat' => 'company in info_snippets[0].companies'}
        %a{:'ng-click' => "select_company(company.id)"}= "{{company.ticker}}"
    .drugs
      %h3= 'Drugs'
      .drug{:'ng-repeat' => 'drug in info_snippets[0].drugs'}
        %a{:'ng-click' => "select_drug(drug.id)"}= "{{drug.name}}"
    .edit-and-destroy
      %a.btn.edit{:'ng-click' => 'edit_snippet(info_snippets[0].id)'}= 'Edit Snippet'
      %a.btn.destroy{:'ng-click' => 'delete_snippet(info_snippets[0].id)', :'ng-confirm-click' => "Are you sure?"}= 'Delete Snippet'

