#tags-container{:'ng-controller' => 'tags_controller'}
  %h3= 'Tags'
  .tags-nav#tags-list{:'ng-show' => '!one_tag'}
    %ul.no-style
      %li{:'ng-repeat' => '(type, t) in tags'}
        .type{:'ng-hide' => "t.length == 0"}
          %h5= "{{type}}"
          %ul.no-style
            %li.tag{:'ng-repeat' => 'tag in t'}
              %a{:'ng-click' => "select_tag(tag.id)"}= "{{tag.name}}"
  .tags-nav#one-tag{:'ng-show' => 'one_tag'}
    .type
      %h5= "{{one_tag.type}}"
      .tag
        %a{:'ng-click' => "select_tag(one_tag.id)"}= "{{one_tag.name}}"
    .row.edit-and-destroy
      %ul.no-style
        %li
          %a.edit{:'ng-click' => 'edit_tag(one_tag.id)'}= 'Edit Tag'
        %li
          %a.destroy{:'ng-click' => 'delete_tag(one_tag.id)', :'ng-confirm-click' => "Are you sure?"}= 'Delete Tag'
    %h3= "Companies"
    .company{:'ng-repeat' => 'company in one_tag.companies'}
      %a{:'ng-click' => "select_company(company.id)"}= "{{company.ticker}}"
