.content{'ng-app' => 'app'}
  = render :partial => 'nav'
  .container#bioinformatica-main{ 'ng-controller' => 'bioinformatica_controller' }
    #stuff{ 'ng-switch' => 'type' }
      #companies{ 'ng-switch-when' => 'company' }
        = render :partial => 'companies'
      #programs{ 'ng-switch-when' => 'drug' }
        = render :partial => 'programs'
      .conversations{ 'ng-switch-when' => 'snippet' }
        = render :partial => 'conversations'
      .conversations{ 'ng-switch-when' => 'tag' }
        = render :partial => 'conversations'
