#nav
  = link_to 'All Companies', root_path
  = link_to 'All Drugs', '/#/drug'
  = link_to 'All Conversations', '/#/snippet'
  = link_to 'New Company', new_company_path
  = link_to 'New Program', new_program_path
