#nav
  = link_to 'All Companies', root_path
  = link_to 'All Drugs', '/#/drug'
  = link_to 'All Conversations', '/#/snippet'
  = link_to 'New Company', new_company_path
  = link_to 'New Drug', new_program_path
  = link_to 'New Tag', new_tag_path
  = link_to 'New Conversation', new_info_snippet_path
